<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />{{!-- Materialize --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<title>Recipe PH TITLE</title>
</head>

<body>

	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo" id="home">Recipes</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>


					<form>
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</li>
				<li>
					<a href="/" id="home">Home</a>
				</li>

				<li><a href="/browse" id="browse">Browse</a></li>
				<li><a href="/list">Grocery List</a></li>
			</ul>
		</div>
	</nav>
	{{{body}}}
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Recipes Footer</h5>
					<p class="grey-text text-lighten-4">Here's some information about our website.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Team</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://github.com/michaeledwards91" target="_blank">Michael</a></li>
						<li><a class="grey-text text-lighten-3" href="https://github.com/dudenamedjune" target="_blank">June</a></li>
						<li><a class="grey-text text-lighten-3" href="https://github.com/schronister" target="_blank">Steve</a></li>
						<li><a class="grey-text text-lighten-3" href="https://github.com/Rhyngoh" target="_blank">Ryan</a></li>
					</ul>
				</div>
			</div>
		</div>

	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="https://isuttell.github.io/sine-waves/javascripts/sine-waves.min.js"></script>
	<script type="text/javascript" src="./assets/javascript/frontend.js"></script>
</body>

</html>
