<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />{{!-- Materialize --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
	<title>Yum-Yum Recipes</title>
	<meta name="keywords" content="Yum-Yum, Recipes, Shopping List, Materialize, Ingredients, App, MySQL, Express, Node, Sequelize, jQuery">
	<meta name="description" content="Yum-Yum Recipes brings you the simplest shopping list/recipe finder app on the market! You can search by ingredient and even post your own recipes to expand our database of recipes! Original recipe data from Spoonacular API.">
</head>

<body>

	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo" id="home">Yum-Yum Recipes</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/" id="home">Home</a></li>
				<li><a href="/list">Grocery List</a></li>
				<li><a href="/add">Create a Recipe</a></li>
				<li><a href="/about">About</a>
				</li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/" id="home">Home</a></li>
				<li><a href="/browse" id="browse">Browse</a></li>
				<li><a href="/list">Grocery List</a></li>
				<li><a href="/add">Create a Recipe</a></li>
			</ul>
		</div>
	</nav>
	{{{body}}}
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Recipes Footer</h5>
					<p class="grey-text text-lighten-4">Here's some information about our website.</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CKDUX5NKXCQD6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Team</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://github.com/michaeledwards91" target="_blank">Michael</a></li>
						<li><a class="grey-text text-lighten-3" href="https://github.com/dudenamedjune" target="_blank">June</a></li>
						<li><a class="grey-text text-lighten-3" href="https://github.com/schronister" target="_blank">Steve</a></li>
						<li><a class="grey-text text-lighten-3" href="https://github.com/Rhyngoh" target="_blank">Ryan</a></li>
					</ul>
				</div>
			</div>
		</div>

	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script type="text/javascript" src="./assets/javascript/jquery-handlebars-1.1.4.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

	<script type="text/javascript" src="./assets/javascript/frontend.js"></script>
</body>

</html>
