<div class="parallax-container">
    <div class="parallax"><img src="./images/homebackground2.jpg"></div>
</div>
<div class="section grey darken-1">
    <div class="row container">
        <h2 class="header">Yum-Yum Recipes: A Brief History</h2>
        <p>In 1991, with the Internet still taking its first baby steps around the house of modern technology, Yum-Yum Jones (b. 1924) announced to a small but captive audience at the General Motors Umbrella Division Annual Holiday Party that he was fed up with the hustle and bustle of his middle-management career.  A well-liked and respected individual, Yum-Yum sought a new career path that aligned with his true passion - cooking.  To the dismay of his colleagues, Yum-Yum left GM in early 1992, with intentions to create a cooking website where users from all backgrounds could submit and recommend delicacies for the world to enjoy.</p>
        <p>Unfortunately, at the time, Yum-Yum didn't know the first thing about creating a website.  As fate would have it, Yum-Yum became sidetracked from his goal for quite some time when he was selected to participate in a landmark 25-year-long psychological study in which he was asked to "live like he was a pirate" - pillaging and plundering the small islands of the Caribbean.  Awash with stories and booty, Yum-Yum returned to his life's passion in early 2017 and finally got around to putting together the beautiful creation you see now.</p>
        <p>We hope you enjoy your visit!</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="./images/homebackground1.jpg"></div>
</div>
