<form action="#">
  <div class="file-field input-field">
    <div class="btn">
      <span>Image</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload image to recipe">
    </div>
  </div>
</form>
