<div class="row">
    <h3>Create A Recipe</h3>
</div>
<div class="row">
<div class="col s12" id="addForm">
    <form action="/recipe/add" method="POST">
      <div class="input-field col s12">
        <input type="text" name="title" id="title">
        <label for="title">Recipe Name</label>
        </div>
        <div class="input-field col s12">
        <textarea class="materialize-textarea" name="ingredients" id="ingredients"></textarea>
        <label for="ingredients">Ingredients (separated by commas)</label>
        </div>
        <div class="input-field col s12">
        <textarea class="materialize-textarea" name="instructions" id="instructions"></textarea>
        <label for="instructions">Instructions</label>
        </div>
        <div class="input-field col s12">
        <input type="text" name="image" id="image">
        <label for="image">Link to Recipe Image</label>
      </div>
       <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
    </div>
</div>



<script type="text/javascript">
    $("button").on("click", function(e){
        e.preventDefault();
    })
</script>
