<div class="row">
    <div class="col s12">
      <h2 id="recipename"></h2>
    </div>
</div>
<div class="row">
  <div class="col s6">
    <div id="imgbox">
    </div>
  </div>
  <div class="col s6">
    <ul id="recipeingredients">
    </ul>
    <form action="" method="POST" id="recForm">
    <span class="buttonWrapper"><a class="waves-effect waves-light btn additembtn" id="{{this.id}}" data-recipe_name="{{this.recipe_name}}" data-id="{{this.id}}" data-ingredients="{{this.raw_ingredients}}">Add to List</a></span>
    <button type="submit" class="waves-effect waves-light btn recommend"><i class="material-icons left">thumb_up</i>Recommend<span class="badge"></span></button>
    </form>

  </div>
</div>
<div class="row">
  <div class="col s12">
    <div id="instructions">
    </div>
  </div>
</div>
