body {
display: flex;
min-height: 100vh;
flex-direction: column;
background-color: #821F29;
color: white;
}
main {
flex: 1 0 auto;
}
.negative{
	z-index: -1;
}
.absolute{
	position: absolu
}
.card {
	color: white;
	border-radius: 2.2%;
}
.card .card-image img {
	border-radius: 2.2%;
}
.card .card-reveal {
	background-color: #D46600;
	border-radius: 2.2%;
}
.card .card-image {
	padding: 10px;
}
.card .card-image {
	max-height: 270px;
}
.card .card-content {
	padding-top: 10px;
}
.card .card-action {
	padding: 0px;
}
.card .card-content .card-title {
    line-height: 25px;
    bottom: 29%;
    left: 0;
    position: absolute;
    width: 94%;
    z-index: 1;
    color: white;
    background: rgba(0,0,0,0.45);
    margin-left: 10px;
    margin-right: 10px;
    padding: 1%;
    min-height: 35px;
}
.card .card-content p {
	margin-top: 15px;
}
.hoverable:hover {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.35),0 6px 20px 0 rgba(0,0,0,0.7);
}
.btn {
	background-color: #821F29;
}
.btn:hover {
	background-color: #d61f31;
}
.nav-wrapper {
	background-color: #D46600;
}

.brand-logo {
	margin-left: 30px;
}
.round-toast {
	border-radius: 10px;
}
footer.page-footer {
	margin-top: 0px;
	background-color: #D46600;
}
.addToCartBtn {
	float: right;
    height: 25px;
    line-height: 25px;
}
.recipePageLink {
    color: #821F29;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #821F29;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
.recipePageLink:hover {
    color: #d61f31;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	color: #d61f31;
}

@media only screen and (min-width: 993px) {

	.container {
		width: 75%;
	}

}

.item:hover{
    cursor:pointer;
    background:#FDD;
    text-decoration: line-through;
}

#list{
    background:#FEE;
    border-radius: 5px;
    padding-bottom:10px;
}