body {
display: flex;
min-height: 100vh;
flex-direction: column;
background-color: #821F29;
}
main {
flex: 1 0 auto;
}
.card {
	margin: 1rem;
	color: white;
	border-radius: 2.2%;
}
.card .card-reveal {
	background-color: #7D4A04;
}
.card .card-image {
	padding: 10px;
}
.card .card-content {
	padding-top: 10px;
}
.card .card-content .card-title {
    line-height: 25px;
    bottom: 85px;
    left: 0;
    position: absolute;
    width: 94%;
    z-index: 1;
    color: white;
    background: rgba(0,0,0,0.45);
    margin-left: 10px;
    margin-right: 10px;
    padding: 1%;
}
.card .card-content p {
	margin-top: 15px;
}
.hoverable:hover {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.35),0 6px 20px 0 rgba(0,0,0,0.7);
}
.btn {
	background-color: #821F29;
}
.btn:hover {
	background-color: #d61f31;
}
.nav-wrapper {
	background-color: #D46600;
}

.brand-logo {
	margin-left: 30px;
}
footer.page-footer {
	margin-top: 0px;
	background-color: #D46600;
}
.addToCartBtn {
	float: right;
}

@media only screen and (min-width: 993px) {

	.container {
		width: 75%;
	}

}
